APP_NAME = Secure API Gateway(APIGATE)
AUTH_REQUIRED = False\
DEBUG = True
REDIS_URL=redis://localhost:6379

OAUTH_JWT_SECRET = dev-secret
OAUTH_ISSUER = local
OAUTH_AUDIENCE = gateway
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317