fastapi
uvicorn[standard]
redis
httpx
prometheus_client
python_jose[cryptography]
openapi_core==0.19.0
PyYAML
opentelemetry_api
opentelemetry_sdk
opentelemetry_exporter_otlp_proto_http
opentelemetry_instrumentation_fastapi
opentelemetry_instrumentation_logging
python_multipart
pydantic_settings